// Imports
@import 'variables.scss';
@import 'fonts.scss';
@import 'mixin.scss';


form.minion-sheet {

    /* Sheet Type Selection Styling  */
    .top-bar {

        background: none;
        margin-top: -20px;
        margin-bottom: 0px;

        .sheet-type {
            height: 80%;
            margin-bottom: 5px;
        }

        /*
        .top-decoration {
            flex-grow: 1;
            background: url(../styles/assets/decorations/border-top.png);
            background-repeat: no-repeat;
            background-size: 600px;
            background-position-x: center;
            background-position-y: bottom;
        }

        */
    }

    // MP Job Padding
    #job {
        padding-right: 12px;

        label {
            padding-left: 10px;
        }

        input {
            text-align: left;
            margin-left: 10px;
            display: block;
        }
    }

    // MP Number Padding
    #number {
        padding-right: 12px;

        label {
            padding-left: 10px;
        }

        input {
            text-align: center;
            margin-left: 10px;
            width: 60px;
            display: block;
        }
    }

    #main-minion-form {
        margin-right: 12px;

        a.item-delete {
            align-self: center;
        }
    }

	#picture-td{
		text-align: right;
	}

    // Rollable Text in Abilities List
    #abilities-list {

        .group-ext {
            background-color: $gray3f;

            // Style for external hint
            td.item-body i {
                font-size: 14px;
            }
        }

        .item-rollable-text {
            font-size: 16px;
            font-weight: 700;
            margin-top: 5px;
        } 
    }
}
