<form class="{{cssClass}} actor-sheet conquest-sheet" autocomplete="off">

  {{!-- Base Conquest Information --}}
  <section class="section flex-vertical">

    <table>
      <tr>
        <td colspan="2">
          <div id="name" class="large-name">
            <!-- <label for="character-{{actor._id}}-name">{{localize "FITD.Name"}}</label> -->
            <input type="text" id="character-{{actor._id}}-name" name="name" value="{{actor.name}}">
          </div>
        </td>
      </tr>
      <tr id="campaign-theme-bar" class="label-stripe">
        <td>

          <!--
          {{!-- Campaign Theme Info --}}
          <div class="text-input">
            <label class="label-stripe">{{localize "FITD.UA_CONQUEST_SHEET.CampaignTheme"}}</label>
            <input type="text" name="system.theme_txt" value="{{system.theme_txt}}">
          </div>
          -->

        </td>
        <td>
          {{!-- Next Conquest Text Field to right --}}
        </td>
      </tr>
      <tr>
        <td>
          {{!-- Next Conquest Text Field below --}}
        </td>
        <td>
          {{!-- Small Profile Picture --}}
          <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        </td>
      </tr>
    </table>
  </section>

  {{!-- Navigation & Tabs --}}
  <section class="flex-horizontal">
    <div id="dun-nav-container" class="tab-content flex-vertical grow-two">

      {{!-- Nav menu --}}
      <nav class="tabs flex-horizontal">
        <a class="item" data-tab="conquest-candle">{{localize "FITD.UA_CONQUEST_SHEET.Candle"}}</a>
        <a class="item" data-tab="conquest-abilities">{{localize "FITD.UA_CONQUEST_SHEET.ConquestAbilities"}}</a>
        <a class="item" data-tab="conquest-description">{{localize "FITD.UA_CONQUEST_SHEET.Description"}}</a>
        <a class="item" data-tab="conquest-notes">{{localize "FITD.Notes"}}</a>
        <a class="item" data-tab="all-conquest-items">{{localize "FITD.AllItems"}}</a>
      </nav>

      {{!-- Candle Tab --}}
      <div id="conquest-candle" class="tab flex-vertical" data-tab="conquest-candle">
        <div class="label-stripe">
          <p>{{localize "FITD.DungeonDescription"}}</p>
        </div>
        <div id="theme-description">
          {{#each actor.items as |item id|}}
          {{#if (eq item.type "dungeon_theme")}}
          <div class="item flex-horizontal" data-item-id="{{item._id}}">
            <div class="item-body flex-vertical">
              <div class="item-name item-open-editor">{{item.name}}</div>
              <div class="item-description">{{item.system.description}}</div>
            </div>
            <a class="item-control item-delete" title="{{localize 'FITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
          {{/each}}
        </div>
        <div class="text-input">
          <label class="label-stripe">{{localize "FITD.Entrance"}}</label>
          {{#if (eq system.entrance "")}}
          <label>{{localize "FITD.EntranceHints"}}</label>
          {{/if}}
          <input type="text" id="entrance-description-input" name="system.entrance" value="{{system.entrance}}">
        </div>
        <div class="text-input">
          <label class="label-stripe">{{localize "FITD.Structure"}}</label>
          {{#if (eq system.structure "")}}
          <label>{{localize "FITD.StructureHints"}}</label>
          {{/if}}
          <input type="text" id="structure-description-input" name="system.structure" value="{{system.structure}}">
        </div>
        <div class="text-input">
          <label class="label-stripe">{{localize "FITD.Lighting"}}</label>
          {{#if (eq system.lighting "")}}
          <label>{{localize "FITD.LightingHints"}}</label>
          {{/if}}
          <input type="text" id="lighting-description-input" name="system.lighting" value="{{system.lighting}}">
        </div>
        <div class="text-input">
          <label class="label-stripe">{{localize "FITD.Atmospherics"}}</label>
          {{#if (eq system.atmospherics "")}}
          <label>{{localize "FITD.AtmosphericsHints"}}</label>
          {{/if}}
          <input type="text" id="atmospherics-description-input" name="system.atmospherics" value="{{system.atmospherics}}">
        </div>
        <div class="text-input">
          <label class="label-stripe">{{localize "FITD.Hoard"}}</label>
          {{#if (eq system.hoard "")}}
          <label>{{localize "FITD.HoardHints"}}</label>
          {{/if}}
          <input type="text" id="hoard-description-input" name="system.hoard" value="{{system.hoard}}">
        </div>
        <div class="text-input">
          <label class="label-stripe">{{localize "FITD.Imps"}}</label>
          {{#if (eq system.imps "")}}
          <label>{{localize "FITD.ImpsHints1"}}</label><br />
          <label>{{localize "FITD.ImpsHints2"}}</label>
          {{/if}}
          <input type="text" id="imps-description-input" name="system.imps" value="{{system.imps}}">
        </div>
      </div>

      {{!-- Conquest Abilities Tab --}}
      <div id="conqust-abilities" class="tab flex-vertical" data-tab="conquest-abilities">
        <div class="label-stripe flex-horizontal">
          <p>{{localize "FITD.UA_CONQUEST_SHEET.ConquestAbilities"}}</p>
          <p><a class="item-add-popup" data-item-type="conquest_ability"><i class="fas fa-plus-square"></i></a></p>
        </div>

        {{!-- Tier-3 Rooms List --}}
        <table class="draggable-items" id="rooms-list">
          <tbody>
            {{#each actor.items as |item id|}}
            {{#if (eq item.type "tier3room")}}
            {{#unless item.flexibility}}
            {{!-- Rooms from Theme --}}
            <tr class="item" data-item-id="{{item._id}}">
              <td class="item-body">
                <div class="item-name item-open-editor">{{item.name}}</div>
              </td>
              <td>
                <div class="item-description{{#if item.system.missing_materials}} missing-materials{{/if}}">
                  {{item.system.description}}{{#if item.system.missing_materials}} ({{localize 'FITD.MissingMaterials'}}){{/if}}
                  <div class="checkbox-container">
                    {{#unless (eq item.system.room_checkbox_1_text "")}}
                    <div class="item-checkmark">
                      <div class="standard-checkbox">
                        <input type="checkbox" id="item-{{item._id}}-rmcbx1-checked" value="{{item.system.room_checkbox_1_checked}}" {{checked item.system.room_checkbox_1_checked}} data-property-to-set="room_checkbox_1_checked">
                        <label for="item-{{item._id}}-rmcbx1-checked"></label>
                        {{item.system.room_checkbox_1_text}}
                      </div>
                    </div>
                    {{/unless}}
                    {{#unless (eq item.system.room_checkbox_2_text "")}}
                    <div class="item-checkmark">
                      <div class="standard-checkbox">
                        <input type="checkbox" id="item-{{item._id}}-rmcbx2-checked" value="{{item.system.room_checkbox_2_checked}}" {{checked item.system.room_checkbox_2_checked}} data-property-to-set="room_checkbox_2_checked">
                        <label for="item-{{item._id}}-rmcbx2-checked"></label>
                        {{item.system.room_checkbox_2_text}}
                      </div>
                    </div>
                    {{/unless}}
                  </div>
                </div>
              </td>
              <td>
                <a class="item-control item-delete" title="{{localize 'FITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
              </td>
            </tr>
            {{/unless}}
            {{/if}}
            {{/each}}

            {{!-- Rooms from other Themes --}}
            {{#each actor.items as |item id|}}
            {{#if (eq item.type "tier3room")}}
            {{#if item.flexibility}}
            <tr class="item group-flex" data-item-id="{{item._id}}">
              <td class="item-body">
                <div class="item-name item-open-editor">{{item.name}}<br /><i>({{localize "FITD.Flexibility"}})</i></div>
              </td>
              <td>
                <div class="item-description{{#if item.system.missing_materials}} missing-materials{{/if}}">
                  {{item.system.description}}{{#if item.system.missing_materials}} ({{localize 'FITD.MissingMaterials'}}){{/if}}
                  <div class="checkbox-container">
                    {{#unless (eq item.system.room_checkbox_1_text "")}}
                    <div class="item-checkmark">
                      <div class="standard-checkbox">
                        <input type="checkbox" id="item-{{item._id}}-rmcbx1-checked" value="{{item.system.room_checkbox_1_checked}}" {{checked item.system.room_checkbox_1_checked}} data-property-to-set="room_checkbox_1_checked">
                        <label for="item-{{item._id}}-rmcbx1-checked"></label>
                        {{item.system.room_checkbox_1_text}}
                      </div>
                    </div>
                    {{/unless}}
                    {{#unless (eq item.system.room_checkbox_2_text "")}}
                    <div class="item-checkmark">
                      <div class="standard-checkbox">
                        <input type="checkbox" id="item-{{item._id}}-rmcbx2-checked" value="{{item.system.room_checkbox_2_checked}}" {{checked item.system.room_checkbox_2_checked}} data-property-to-set="room_checkbox_2_checked">
                        <label for="item-{{item._id}}-rmcbx2-checked"></label>
                        {{item.system.room_checkbox_2_text}}
                      </div>
                    </div>
                    {{/unless}}
                  </div>
                </div>
              </td>
              <td>
                <a class="item-control item-delete" title="{{localize 'FITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
              </td>
            </tr>
            {{/if}}
            {{/if}}
            {{/each}}

          </tbody>
        </table>
      </div>

      {{!-- Descriptions Tab --}}
      <div id="conquest-description" class="tab flex-vertical" data-tab="conquest-description">
        <div class="label-stripe">
          <p>{{localize "FITD.UA_CONQUEST_SHEET.Description"}}</p>
        </div>
        <div class="text-input">
          <label class="label-stripe">{{localize "FITD.UA_CONQUEST_SHEET.CampaignTheme"}}</label>
          {{#if (eq system.theme_txt "")}}
          <label>{{localize "FITD.UA_CONQUEST_SHEET.CampaignThemeHints"}}</label>
          {{/if}}
          <input type="text" id="theme-description-input" name="system.theme_txt" value="{{system.theme_txt}}">
        </div>
        <div class="text-input">
          <label class="label-stripe">{{localize "FITD.UA_CONQUEST_SHEET.Horde"}}</label>
          {{#if (eq system.horde_txt "")}}
          <label>{{localize "FITD.UA_CONQUEST_SHEET.HordeHints"}}</label>
          {{/if}}
          <input type="text" id="horde-description-input" name="system.horde_txt" value="{{system.horde_txt}}">
        </div>
        <div class="text-input">
          <label class="label-stripe">{{localize "FITD.UA_CONQUEST_SHEET.Horror"}}</label>
          {{#if (eq system.horror_txt "")}}
          <label>{{localize "FITD.UA_CONQUEST_SHEET.HorrorHints"}}</label>
          {{/if}}
          <input type="text" id="horror-description-input" name="system.horror_txt" value="{{system.horror_txt}}">
        </div>
        <div class="text-input">
          <label class="label-stripe">{{localize "FITD.UA_CONQUEST_SHEET.Corruption"}}</label>
          {{#if (eq system.corruption_txt "")}}
          <label>{{localize "FITD.UA_CONQUEST_SHEET.CorruptionHints"}}</label>
          {{/if}}
          <input type="text" id="corruption-description-input" name="system.corruption_txt" value="{{system.corruption_txt}}">
        </div>

        <div class="text-input">
          <label class="label-stripe">{{localize "FITD.UA_CONQUEST_SHEET.Origin"}}</label>
          {{#if (eq system.origin_txt "")}}
          <label>{{localize "FITD.UA_CONQUEST_SHEET.OriginHints"}}</label>
          {{/if}}
          <input type="text" id="origin-description-input" name="system.origin_txt" value="{{system.origin_txt}}">
        </div>
        <div class="text-input">
          <label class="label-stripe">{{localize "FITD.UA_CONQUEST_SHEET.FactionHistory"}}</label>
          {{#if (eq system.history_txt_1 "")}}
          <label>{{localize "FITD.UA_CONQUEST_SHEET.FactionHistoryHints1"}}</label>
          {{/if}}
          <input type="text" id="faction-history-1-description-input" name="system.history_txt_1" value="{{system.history_txt_1}}">
        </div>
        <div class="text-input">
          <label class="label-stripe">{{localize "FITD.UA_CONQUEST_SHEET.FactionHistory"}}</label>
          {{#if (eq system.history_txt_2 "")}}
          <label>{{localize "FITD.UA_CONQUEST_SHEET.FactionHistoryHints2"}}</label>
          {{/if}}
          <input type="text" id="faction-history-2-description-input" name="system.history_txt_2" value="{{system.history_txt_2}}">
        </div>
        <div class="text-input">
          <label class="label-stripe">{{localize "FITD.UA_CONQUEST_SHEET.DarkPlan"}}</label>
          {{#if (eq system.dark_plan_txt "")}}
          <label>{{localize "FITD.UA_CONQUEST_SHEET.DarkPlanHints"}}</label>
          {{/if}}
          <input type="text" id="dark-plan-description-input" name="system.dark_plan_txt" value="{{system.dark_plan_txt}}">
        </div>

        <!--
        <div class="text-input">
          <label class="label-stripe">{{localize "FITD.Structure"}}</label>
          {{#if (eq system.structure "")}}
          <label>{{localize "FITD.StructureHints"}}</label>
          {{/if}}
          <input type="text" id="structure-description-input" name="system.structure" value="{{system.structure}}">
        </div>
        <div class="text-input">
          <label class="label-stripe">{{localize "FITD.Lighting"}}</label>
          {{#if (eq system.lighting "")}}
          <label>{{localize "FITD.LightingHints"}}</label>
          {{/if}}
          <input type="text" id="lighting-description-input" name="system.lighting" value="{{system.lighting}}">
        </div>
        <div class="text-input">
          <label class="label-stripe">{{localize "FITD.Atmospherics"}}</label>
          {{#if (eq system.atmospherics "")}}
          <label>{{localize "FITD.AtmosphericsHints"}}</label>
          {{/if}}
          <input type="text" id="atmospherics-description-input" name="system.atmospherics" value="{{system.atmospherics}}">
        </div>
        <div class="text-input">
          <label class="label-stripe">{{localize "FITD.Hoard"}}</label>
          {{#if (eq system.hoard "")}}
          <label>{{localize "FITD.HoardHints"}}</label>
          {{/if}}
          <input type="text" id="hoard-description-input" name="system.hoard" value="{{system.hoard}}">
        </div>
        <div class="text-input">
          <label class="label-stripe">{{localize "FITD.Imps"}}</label>
          {{#if (eq system.imps "")}}
          <label>{{localize "FITD.ImpsHints1"}}</label><br />
          <label>{{localize "FITD.ImpsHints2"}}</label>
          {{/if}}
          <input type="text" id="imps-description-input" name="system.imps" value="{{system.imps}}">
        </div>
        -->

      </div>

      {{!-- Notes Tab --}}
      <div id="conquest-notes" class="tab flex-vertical" data-tab="conquest-notes">
        <div class="label-stripe">
          <p>{{localize "FITD.Notes"}}</p>
        </div>
        {{editor notes target="system.description" button=true owner=owner editable=editable}}
      </div>

      {{!-- Full Item List --}}
      <div id="all-conquest-items" class="tab grow-two flex-vertical" data-tab="all-conquest-items">
        <div class="label-stripe">
          <p><label>{{localize "FITD.AllItems"}}</label></p>
        </div>
        {{#each actor.items as |item id|}}
        <div class="item flex-horizontal all-items-list" data-item-id="{{item._id}}">
          <div class="item-body flex-horizontal">
            <img class="item-open-editor" src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
            <div class="item-name item-open-editor">{{item.name}}</div>
          </div>
          <a class="item-control item-delete" title="{{localize 'FITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
        </div>
        {{/each}}
      </div>
    </div>
  </section>
</form>
